.container {
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 50px;
  width: 150px;
  background-color: white;
  color: black;
  border: 2px solid black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Dark mode styles */
button.dark-mode {
  background-color: black;
  color: white;
  border: 2px solid white;
}
